ManagedGitLib.ExtendedTests/commit* binary
ManagedGitLib.Tests/commit-ab39e8acac105fa0db88514f259341c9f0201b22 binary
ManagedGitLib.Tests/commit-ab39e8acac105fa0db88514f259341c9f0201b22-message binary
