<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="Consumption" value="https://pkgs.dev.azure.com/andrewarnott/OSS/_packaging/Consumption/nuget/v3/index.json" />
    <add key="glebchili-personal" value="https://pkgs.dev.azure.com/glebchili-personal/_packaging/glebchili-personal/nuget/v3/index.json" />
  </packageSources>
</configuration>
